body {
 background-color: rgb(247, 239, 229);
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin: 0;
 border: none;
 scroll-behavior: smooth;
 padding: 0;
}

header{
    background-color: rgb(30, 42, 94);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}


a{
    text-decoration-color: rgb(52, 56, 160);
    text-align: center;
    padding: 30px;
    color: white; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    height: 100px;
    position: fixed;
    padding: 2.5rem 16rem;
    justify-content: space-between;
    z-index: 5;
    overflow-x: hidden;
}

h1{
    color: white;
    font-weight: 700;
    font-size: 2.5em;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: center;
    color: rgb(6, 6, 114);
}

.navbar a {
    width: 100%;
    font-size: 1rem;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-weight: 500px;
}

main{
    padding: 20px;
}

.livros{
display: grid;
gap: 40px;
justify-content: center;
border-radius: 8px;
text-align: center;
width: 150px;
padding: 0px;
font-size: small;
}

.livro img{
    width: 150px;
    height: 210px;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgb(0, 0, 0)
}

.livro h2{
    margin: 10px 0 0px;
    font-size: 1.2rem;
}

.livro p{
    margin: 0;
    color: black;
}


form{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb;
    margin-top: 70px;
}

form label{
    display: block;
    margin-bottom: 10px;
    color: black;
}

form legend{
    padding:  10px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    text-align: center;
}
form input[type= "text"],
form input[type= "email"]
form textarea{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
}
form input[type= "radio"],
form input[type= "checkbox"]{
    margin-right: 10px;
}


form fieldset{
    border: 1px solid #ddd;
    padding: 10px;
}


form button{
    cursor: pointer;
    background-color: rgb(28, 4, 132);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 250px;
}

.home-container{
    max-width: 500px;
    margin: 100px auto;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(7, 25, 106, 0.933);
    padding: 30px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 85, 255), 0 0 10px rgb(33, 0, 85), 0 0 15px rgb(208, 203, 224);
}

.sobre-img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    padding: 10px;
    margin-left: 680px;
}

.sobre-container {
    max-width: 500px;
    margin: 100px auto;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(3, 13, 57, 0.933);
    padding: 30px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.contato-container{
    max-width: 500px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: rgba(4, 19, 84, 0.933);
    padding: 30px;
    color: white;
    margin-top: 50px;
    box-shadow: 0 px 8px rgb(255, 255, 255); 
}

.sobre-img {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0); 
    
}

.sobre-texto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
    margin-top: 80px; 
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgb(0, 85, 255), 0 0 10px rgb(33, 0, 85), 0 0 15px rgb(255, 255, 255);
    
}

.livros-container{
    border-radius: 10px;
    background-color: white;
    padding: 30px;
    width: 1000000px;
    height: 280px;
}